.home {
	text-align: center;
	
	
	font-family: 'Ovo', serif;
}

.stats {
	
}

td {
	text-align: center;
	width: 6%;
}

th {
	text-align: center;
	width: 6%;
}

.playerHead {
	width: 13%;
	text-align: left;
}