.masn,
.bsun,
.news,
.newsHeading {
	font-family: 'Ovo', serif;
	
}

.masn,
.bsun,
.news {
	color: black;
}

.newsHeading,
#newsHeading {
	font-size: 1.25em;
	color: white;
	font-family: 'Ovo', serif;
}

a {
	color: black;
}